@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
    list-style: none;
}

$header-basic: #ffcc29;
$bg-header: #1d539e;
$color: #828799;
$bg-main: #dddee0;
$color-title: #f9fbfc9c;
$bg-cards: #f9fbfc;
$font-family: 'Open Sans';
$font-400: 400;
$font-600: 600;
$font-700: 700;

body{
    height: 100vh;
    width: 100vw;
   
    display: flex;
    justify-content: center;

    font-size: 24px;
    font-family: $font-family;

    background-color: $bg-main;
}

#header{
    width: 100%;
    height: 50%;
 
    background-color: $bg-header;

    display: flex;
    justify-content: center;
    
    .box-title{
        border: px solid red;
        width: 50%;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        position: absolute;

        h1{
            color: $bg-cards;
            font-weight: 700;
        }
        p{
            margin: auto;
            font-size: 1rem;
            color: $color-title;
            font-weight: 400;
            width: 32rem;
        }
    }
}

.small{
    font-size: 0.9rem;
    display: inline;
}

.text{
    font-size: 0.9rem;
    color: $color;
    padding-bottom: 18px;
}

.priece{
    font-size: 1.8rem;
    font-weight: $font-600;
}

#main{
    width: 80%;
    height: 65%;
    position: absolute;
    top: 235px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .cards{
        height: 100%;
        width: 30%;
        border-radius: 10px;
        font-size: 1.2rem;
       
        background-color: $bg-cards;
    }

    .cards-normal{
        height: 95%;
        font-size: 1rem;
       
        .title-card-normal{
            padding: 20px;
        }
    }
    
    .cards-popular{
        align-self: baseline;
       
        .destaque{
            width: 100%;
            height: 17%;
            border-radius: 10px 10px 0 0;
          
            background-color: $header-basic;

            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 80px;

            p{
                background-color: $bg-header;
                color: $bg-cards;
                padding: 5px 15px;
                border-radius: 15px;
                width: 60px;
                text-align: center;

                font-size: 0.8rem;
                font-weight: 400;                             
            }
            h2{
                color: $bg-header;
                font-weight: 600;                                
            }            
        }
        .bt-assinar-destaque{
            border: px solid red;
            margin: auto;
            width: 100%;
            height: 18%;
        
            text-align: center;
           
            input{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                font-size: 1.2rem;
        
                background-color: $bg-header;
                color: $bg-cards;
            }
        }
    }

}

.description{
    height: 73%;
    padding: 20px ;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .text-card-popular{
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-bottom: 0.2px solid $color;

        h3{
            display: inline-block;
        }
    }
}

.list-check{
    font-size: 1rem;
    ul{
        display: flex;
        flex-direction: column;
        gap: 15px;

        li{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            color: $color;
        }
    }
}
.bt-assinar-normal{
    margin: auto;
    width: 100%;
    height: 18%;
    
    text-align: center;
   
    input{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: $font-400;

        color: $bg-header;
        background-color: $bg-cards;
        border: 1px solid $bg-header;
    }
}
.frist-bt{
    margin-top: 70px;
}


//Media queries*********************

@media(max-width: 1140px) and (min-width:1009px) {
    #main{
        height: 60%;
        width: 100%;
    }

    .box-title{
        width: 90% !important;
    }

    .cards{
        width: 30%!important;
       
        h3{
            font-size: 1.3rem;
        }
        span{
            font-size: 1.4rem;
        }
        p{
            font-size: 0.7rem;
        }

    }

    .bt-assinar-normal{
        width: 85%;
        height: 50%!important;
    }

    .bt-assinar-destaque{
        height: 16%!important;
    }
    .destaque{
        p{
            padding: 2px;
            font-size: 0.3rem;
        }
    }
}   

@media(max-width: 1008px) and(min-width: 768px){
  #main{
    height: 1800px!important;

    display: flex;
    flex-direction: column;
  }

  .box-title{
   
    width: 100%!important;
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 0.9rem!important;
        width: 55%!important;
    }
  }

  .cards{
    width: 60%!important;
    height: 25%!important;
  }

  .cards-popular{
    align-self: none;
    height: 95%;
    margin: 100px auto ;
  }
}

@media(max-width:768px) and(min-width: 425px){
    #main{
        height: 1800px!important;
    
        display: flex;
        flex-direction: column;
        
      }
      .box-title{
        width: 100%!important;
        h1{           
            font-size: 2.5rem;
        }
        p{          
            font-size: 0.9rem!important;
            width: 55%!important;
        }
      }    
      .cards{       
        width: 75%!important;
        height: 25%!important;
      }    
      .cards-popular{
        align-self: none;
        height: 95%;
        margin: 100px auto ;
      }
      .bt-assinar-normal{
        height: 14%;
      }
    }
    
