@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
}

a {
  text-decoration: none;
  color: #ffc632;
  font-weight: 600;
  font-size: 0.9rem;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.area-login {
  width: 50%;
  height: 100%;
  color: #afb6c2;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  background-color: #191816;
}
.area-login .area-log {
  padding: 25px;
}
.area-login .box-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-login .box-form .form {
  width: 65%;
  height: 75%;
  padding: 50px 80px;
  background-color: #24221f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.area-login .box-form .form .text-login h2 {
  color: #d4ccb6;
}
.area-login .box-form .form .text-login p {
  color: #afb6c2;
}
.area-login .box-form .form .text-login .title-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}
.area-login .box-form .form .inputs-form .formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.area-login .box-form .form .inputs-form .formulario .box-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.area-login .box-form .form .inputs-form .formulario .box-input .icon-input {
  position: relative;
  display: flex;
}
.area-login .box-form .form .inputs-form .formulario .box-input .icon-input .img-inputs {
  position: absolute;
  top: 10px;
  left: 10px;
}
.area-login .box-form .form .inputs-form .formulario .box-input .icon-input .img-inputs-eye {
  position: absolute;
  top: 10px;
  right: 10px;
}
.area-login .box-form .form .inputs-form .formulario .box-input .entrada {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #24221f;
  border: 1px solid #afb6c2;
  color: #afb6c2;
  outline: none;
}
.area-login .box-form .form .inputs-form .formulario .box-input .entrada:focus {
  border: 1px solid #ffc632;
}
.area-login .box-form .form .inputs-form .mark {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.area-login .box-form .form .inputs-form .mark .lembre-me {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  font-size: 0.8rem;
  height: 50px;
}
.area-login .box-form .form .inputs-form .mark .lembre-me .check-box {
  all: unset;
  height: 40%;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #afb6c2;
  background-color: #24221f;
}
.area-login .box-form .form .inputs-form .mark .lembre-me .check-box:checked {
  background-color: #ffc632;
}
.area-login .box-form .form .inputs-form .mark .esqueci a {
  font-size: 0.8rem;
}
.area-login .box-form .form .registre {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.area-login .box-form .form .registre .bt-login {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: #ffc632;
}
.area-login .box-form .cadastrar {
  text-align: center;
}
.area-login .box-form .cadastrar p {
  display: inline-block;
  width: 70%;
  color: #ffc632;
  font-weight: 400;
  font-size: 0.8rem;
}

.area-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.area-img img {
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}/*# sourceMappingURL=style.css.map */